.App {
  text-align: center;
}

* {
  margin: 0;
}

.App-link {
  color: #09d3ac;
}

.main-nav {
  background-color: rgb(73, 70, 70);
  margin: 0;
  padding: 0;
  color: white;
  margin-bottom: 5rem;
}

h1 {
  padding: 2rem;
}
/* .nav {
  display: flex;

  justify-content: flex-end;
  text-decoration: none;
  font-size: 1.6rem;
  margin-right: 3rem;
} */

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  height: 60vh;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.grid {
  text-align: center;
  padding-left: 0;
}
.grid-left {
  background-color: rgb(204, 199, 199);
}

.grid-right {
  background-color: #eee;
}

.atContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;

  padding: 10px 1.6rem;
  margin-top: 40px;
  margin-bottom: 40px;
}

.score {
  background-color: white;
  width: 90%;
  height: 10vh;
  margin: 1.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.atBatDiv {
  width: 80%;
  /* height: 40vh; */
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  padding: 30px 2.5rem;
}

.batting {
  background-color: rgb(20, 109, 3);
  width: 60%;
  height: 10vh;
  margin-top: 35px;
  color: white;
  padding: 25px 1.5rem;
  padding-top: 35px;
  box-shadow: 0 5px 10px black;
}

button {
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  background-color: rgb(99, 0, 17);
  color: white;
  outline: none;
  box-shadow: 0 5px 10px black;
}
